@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700");

@import url("https://fonts.googleapis.com/css?family=Inter:500,700");

/* ============================== */

html,
body {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #22343D;
  font-size: 1rem;
  line-height: 100%;
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ============================== */

body {
  overflow-x: hidden;
}

.lock body {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

[class$=__container] {
  max-width: 1100px-30px;
  margin: 0 auto;
  padding: 0 15px;
}

[class$=__container]:not(.header__container, .footer__container) {
  padding: 60px 15px;
}

/* ============================== */

.multypage-open {
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 16px;
  right: 16px;
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.3137254902);
  backdrop-filter: blur(4px);
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.3137254902) 0 0 10px;
}

.multypage-open:hover {
  background-color: rgba(255, 255, 255, 0.3333333333);
}

.multypage-open:active {
  background-color: rgba(255, 255, 255, 0.3764705882);
}

.multypage__window {
  transition: right 0.3s ease;
  position: fixed;
  top: 16px;
  width: 250px;
  right: -250px;
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.3137254902);
  backdrop-filter: blur(4px);
  box-shadow: rgba(0, 0, 0, 0.3137254902) 0 0 10px;
}

._multypage-opened .multypage__window {
  right: 16px;
}

.multypage__paragraph {
  font-size: 18px;
  line-height: 120%;
}

.multypage__paragraph a {
  color: blue;
  font-size: inherit;
}

.multypage__paragraph span {
  font-size: inherit;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin: 8px;
}

.multypage__paragraph span:first-child {
  margin: 0;
  margin-bottom: 8px;
}

.multypage__list {
  list-style: none;
  counter-reset: ol-numbers;
}

.multypage__element {
  font-size: 18px;
}

.multypage__element a {
  font-size: 18px;
}

.multypage__element::before {
  counter-increment: ol-numbers;
  content: counter(ol-numbers) ") ";
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

.button {
  padding: 15px 24px;
  font-weight: 700;
  border-radius: 4px;
  display: inline-block;
  white-space: nowrap;
}

.button.button_color_transparent {
  border: #BCD0E5 1px solid;
  padding: 13px 23px;
}

.button.button_color_transparent:hover {
  background-color: rgb(245, 245, 245);
}

.button.button_color_transparent:active {
  background-color: rgb(240, 240, 240);
}

.button.button_color_white {
  background-color: #fff;
  color: #02897A;
}

.button.button_color_white:hover {
  background-color: rgb(245, 245, 245);
}

.button.button_color_white:active {
  background-color: rgb(240, 240, 240);
}

.button.button_color_green {
  background-color: #02897A;
  color: #fff;
}

.button.button_color_green:hover {
  background-color: #019180;
}

.button.button_color_green:active {
  background-color: #009b89;
}

.header {
  padding: 19px 0;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.header__logo {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

.header__logo-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-left: 16px;
  font-size: 30px;
}

.header__buttons {
  display: flex;
  gap: 1.5rem;
}

.menu__list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.menu__item_current {
  font-weight: 600;
}

.footer {
  padding: 46px 0;
}

.footer__blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-basis: 300px;
}

.footer__block {
  flex-basis: 120px;
  margin: 0 auto;
}

.footer .footer__blocks > .footer__block:last-child {
  flex-basis: 325px;
}

.footer__logo-block {
  display: flex;
  align-items: center;
}

.footer__logo {
  margin-right: 10px;
}

.footer__logo-title {
  font-weight: 700;
  font-size: 30px;
}

.footer__item {
  margin: 6px 0;
  line-height: 35px;
}

.footer__item:first-child {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.footer__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.footer__email-field {
  margin: 24px 0;
  padding: 10px 15px;
  border: #BCD0E5 1px solid;
  border-radius: 4px;
  width: 100%;
}

.welcome__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: auto;
}

.welcome__content {
  flex-basis: 50%;
}

.welcome__descripton {
  margin: 18px 0 45px;
}

.welcome__buttons {
  display: flex;
  gap: 30px;
  align-items: center;
}

.welcome__link {
  color: #02897A;
  font-weight: 700;
  text-decoration: underline;
}

.welcome__image-block {
  flex-basis: 50%;
}

.welcome__image {
  width: 100%;
}

.advantages__title {
  text-align: center;
  max-width: 540px;
  margin: 0 auto 56px;
}

.advantages__cards {
  display: flex;
  flex-wrap: wrap;
  gap: auto;
  justify-content: center;
}

.advantages__card {
  flex-basis: 240px;
  margin: 10px 0;
}

.advantages__button {
  margin-top: 30px;
}

.card-advantages__icon {
  width: 50px;
  height: 50px;
}

.card-advantages__icon_1 {
  fill: #02897A;
}

.card-advantages__icon_2 {
  fill: #4D8DFF;
}

.card-advantages__icon_3 {
  fill: #740A76;
}

.card-advantages__icon_4 {
  fill: #F03E3D;
}

.card-advantages__title {
  margin: 15px 0 13px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.abilities__blocks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.abilities__blocks:nth-child(even) {
  flex-wrap: wrap-reverse;
}

.abilities__block {
  flex-basis: 480px;
  margin: 20px auto;
}

.abilities__item {
  margin: 30px 0;
  position: relative;
  margin-left: 65px;
}

.abilities__item::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: -65px;
  top: calc(50% - 17.5px);
}

.abilities .abilities__item:nth-child(1n)::before {
  content: url("../img/check-mark-orange.svg");
}

.abilities .abilities__item:nth-child(2n)::before {
  content: url("../img/check-mark-red.svg");
}

.abilities .abilities__item:nth-child(3n)::before {
  content: url("../img/check-mark-blue.svg");
}

.abilities__image {
  width: 100%;
}

.abilities p {
  margin: 23px 0;
}

.process__title {
  text-align: center;
}

.process__description {
  line-height: 26px;
  max-width: 542px;
  text-align: center;
  margin: 16px auto 20px;
}

.process__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.process__card {
  display: flex;
  flex-basis: 420px;
  align-items: center;
  margin: 12px auto;
}

.process__button {
  margin-top: 36px;
}

.card-process__image {
  margin: 0 8px;
}

.card-process__message {
  margin: 0 8px;
  padding: 15px 24px;
  border-radius: 20px;
  box-shadow: rgba(23, 58, 86, 0.1254901961) 0 0 15px;
}

.card-process:nth-child(1n) .card-process__image {
  border: #FF0909 3px solid;
  border-radius: 50%;
}

.card-process:nth-child(2n) .card-process__image {
  border: #740A76 3px solid;
  border-radius: 50%;
}

.card-process:nth-child(3n) .card-process__image {
  border: #02897A 3px solid;
  border-radius: 50%;
}

.card-process:nth-child(4n) .card-process__image {
  border: #035B81 3px solid;
  border-radius: 50%;
}

.content-strategies__description {
  font-weight: 500;
  margin: 16px 0 30px;
}

.content-strategies__slider {
  padding-bottom: 60px;
}

.swiper-pagination-bullet {
  transition: background-color 0.3s ease;
  width: 16px;
  height: 16px;
  background-color: #EFEFEF;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #02897A;
}

.slide-content-strategies {
  border: #DEDEDE 1px solid;
  border-radius: 8px;
}

.slide-content-strategies__image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.slide-content-strategies__content {
  padding: 24px;
}

.slide-content-strategies__info {
  margin-bottom: 12px;
}

.slide-content-strategies__author {
  font-weight: 700;
}

.slide-content-strategies__author::before {
  content: "by ";
  font-weight: normal;
}

.slide-content-strategies__title {
  transition: color 0.8s ease;
  line-height: 30px;
}

.swiper-slide-active .slide-content-strategies__title {
  color: #02897A;
}

.slide-content-strategies__title a {
  font-size: inherit;
  color: inherit;
}

.price-table__title {
  text-align: center;
}

.price-table__description {
  margin: 16px auto 40px;
  text-align: center;
  max-width: 540px;
}

.price-table__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-table__card {
  flex-basis: 320px;
  padding: 32px 24px;
  box-shadow: rgba(0, 0, 0, 0.1450980392) 0 0 8px;
  margin: 12px auto;
  border-radius: 8px;
}

.price-table__card.card-price-table_color_green {
  background-color: #02897A;
}

.price-table__card.card-price-table_color_green *:not(.button) {
  color: #fff;
}

.card-price-table__title {
  text-align: center;
  line-height: 40px;
}

.card-price-table__description {
  margin: 8px 0 16px;
  text-align: center;
}

.card-price-table__price-wrap {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.card-price-table__price {
  text-align: center;
  color: #AFAFAF;
}

.card-price-table__price span {
  font-size: 76px;
  font-weight: 700;
  color: #02897A;
  position: relative;
  line-height: 100px;
}

.card-price-table__price span::after {
  content: "$";
  font-size: 24px;
  position: absolute;
  top: -8px;
}

.card-price-table__abilities {
  margin: 8px 0 30px;
}

.card-price-table__ability {
  margin: 8px 0;
  text-align: center;
  font-weight: 500;
  line-height: 22px;
}

.reviews__title {
  text-align: center;
}

.reviews__description {
  text-align: center;
  margin: 16px auto 42px;
  max-width: 540px;
  font-weight: 500;
  line-height: 28px;
}

.reviews__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews__review {
  border: #DEDEDE 1px solid;
  flex-basis: 320px;
  padding: 28px;
  border-radius: 5px;
  margin: 12px auto;
}

.review-reviews__rate {
  margin-bottom: 16px;
}

.review-reviews__review {
  color: #737373;
  line-height: 22px;
  margin-bottom: 16px;
}

.review-reviews__star {
  width: 18px;
  height: 18px;
}

.review-reviews__star.review-reviews__star_fill {
  fill: #F3CD03;
  stroke: #F3CD03;
}

.review-reviews__star.review-reviews__star_empty {
  fill: transparent;
  stroke: #F3CD03;
}

.author-review-reviews {
  display: flex;
  align-items: center;
}

.author-review-reviews__avatar {
  margin-right: 14px;
}

.author-review-reviews__data {
  display: flex;
  flex-direction: column;
}

.author-review-reviews__name {
  color: #02897A;
  font-weight: 700;
  line-height: 24px;
}

.author-review-reviews__work-title {
  line-height: 24px;
}

.get-this {
  padding: 57px 20px;
}

.get-this [class=get-this__container] {
  max-width: 968px;
  background: #02897A;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
}

.get-this__block {
  flex-basis: 400px;
}

.get-this__title {
  font-weight: 600;
  line-height: 150%;
  color: #fff;
  margin-bottom: 50px;
}

.get-this__image {
  flex-basis: 300px;
  max-width: 100%;
  margin-right: -40px;
}

@media (max-width: 1100px) {
  h1 {
    font-size: calc(2.1875rem + 5 * (100vw - 320px) / 780);
  }

  .header__container {
    gap: calc(0.75rem + 12 * (100vw - 320px) / 780);
  }

  .header__buttons {
    gap: calc(0.75rem + 12 * (100vw - 320px) / 780);
  }

  .menu__list {
    gap: calc(0.75rem + 12 * (100vw - 320px) / 780);
  }

  .get-this [class=get-this__container] {
    padding-left: calc(1.875rem + 20 * (100vw - 768px) / 332);
  }

  .get-this [class=get-this__container] {
    padding-right: calc(1.875rem + 20 * (100vw - 768px) / 332);
  }
}

@media (max-width: 768px) {
  .welcome__content {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .welcome__image-block {
    flex-basis: 100%;
  }

  .get-this [class=get-this__container] {
    padding-left: 1.875rem;
  }

  .get-this [class=get-this__container] {
    padding-right: 1.875rem;
  }

  .get-this [class=get-this__container] {
    flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 2.1875rem;
  }

  .header__container {
    gap: 0.75rem;
  }

  .header__buttons {
    gap: 0.75rem;
  }

  .menu__list {
    gap: 0.75rem;
  }
}